/*Ubuntu Bold = h1, h2, h3, p
Open Sans Regular = p
Montserrat Black = a, button*/

/*font-family: 'Montserrat', sans-serif;

font-family: 'Open Sans', sans-serif;

font-family: 'Ubuntu', sans-serif;*/

body {
	font-family: 'Ubuntu', sans-serif;
	font-size: 15px;
	font-weight: 400;
	padding: 0;
	margin: 0;
}
div, p, input, button, form, span, a, ul, li {
	box-sizing: border-box;
	display: block;
}
h1, h2, h3, h4, h5, h6 {
	margin: 0;
	font-weight: 700;
}
p {
	line-height: 1.65em;
}
.container {
	width: 1170px;
	margin: 0 auto;
}
/* первый экран */
.header {
	background: rgba(77,189,254,1);
	background: -moz-linear-gradient(-45deg, rgba(77,189,254,1) 0%, rgba(55,143,217,1) 100%);
	background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(77,189,254,1)), color-stop(100%, rgba(55,143,217,1)));
	background: -webkit-linear-gradient(-45deg, rgba(77,189,254,1) 0%, rgba(55,143,217,1) 100%);
	background: -o-linear-gradient(-45deg, rgba(77,189,254,1) 0%, rgba(55,143,217,1) 100%);
	background: -ms-linear-gradient(-45deg, rgba(77,189,254,1) 0%, rgba(55,143,217,1) 100%);
	background: linear-gradient(135deg, rgba(77,189,254,1) 0%, rgba(55,143,217,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4dbdfe', endColorstr='#378fd9', GradientType=1 );

	padding: 61px 0 212px;
	color: #fff;
}
.wrapper {
	display: flex;
	justify-content: space-between;
}
.offer {
	margin-top: 140px;
	width: 490px;
}
.title {
	font-size: 37px;
	width: 560px;
	font-weight: 700;
}
.title span {
	font-size: 59px;
	line-height: 1.6em;
}
.intro {
	font-family: "Open Sans", sans-serif;
	font-weight: 400;
	margin-bottom: 37px;
	margin-top: 30px;
	width: 380px;
}
.btn {
	font-family: 'Montserrat', sans-serif;
	font-weight: 900;
	font-style: 15px;
	background: #ffd429;
	color: #2e2a1b;
	display: block;
	width: 222px;
	padding: 20px 0;
	text-align: center;
	text-decoration: none;
	transition: all 0.5s ease;
}
.btn:hover {
	background: #ecbf0e;
}
.travel {
	margin-top: 59px;
	margin-right: 0;
}
/* /первый экран */
/* будущее */
.future {
	padding: 108px 0 120px;
	text-align: center;
}
.section-title {
	font-size: 30px;
	line-height: 25px;
	letter-spacing: 0.6px;
	font-weight: 700;
}
.skills {
	display: flex;
	justify-content: space-between;
	margin-top: 73px;
}
.skill {
	width: 302px;
	background: url('../img/icon1.jpg') no-repeat top;
}
.skill h3 {
	padding-top: 89px;
}
.skill-title {
	font-size: 19px;
	color: #201b2d;
}
.skill-text {
	margin-top: 7px;
	color: #201b2d;
}
.skill-free {
	background: url('../img/icon2.jpg') no-repeat top;
}
.skill-change {
	background: url('../img/icon3.jpg') no-repeat top;
}
/* /будущее */
/* форма */
.mail {
	background: #efecf4;
	padding: 104px 0 110px;
	text-align: center;
}
.section-title {
	margin-bottom: 57px;
	color: #201b2d;
	font-size: 30px;
	font-weight: 700;
}
.form {
	align-items: center;
	margin-top: 40px;
	display: flex;
	flex-direction: column;
}
.input__form {
	width: 343px;
	height: 48px;
	margin-bottom: 15px;
	padding-left: 25px;
	border-radius: 3px;
	border-style: none;
	border: 1px solid #bbb;
}
.input {
	border-radius: 100px;
	height: 54px;
	padding-left: 38px;
}
.btn-form {
	border: 0;
	cursor: pointer;
	width: 343px;
}
/* /форма */
/* футер */
.footer {
	padding: 62px 0;
	background: #201b2d;
}
.credits {
	font-family: 'Open Sans', sans-serif;
	color: #fff;
	font-size: 14px;
	margin: 0;
	text-align: center;
}
/* /футер */
/* Responsive */
/* 992px - 1200px */
@media screen and (max-width: 1200px) {
	.container {
		width: 960px;
	}
}
/* 768px - 992px */
@media screen and (max-width: 992px) {
	.header {
		padding: 50px 0 0;
		text-align: center;
	}
	.container {
		width: 720px;
	}
	.wrapper {
		flex-direction: column;
	}
	.offer {
		width: 100%;
		margin-top: 20px;
	}
	.offer * {
		display: inline-block;
	}
	.intro {
		width: 520px;
		margin: 20px 0;
	}
	.travel {
		display: block;
		width: 549px;
		margin: 0 auto 0;
	}
	.future {
		padding: 50px 0;
	}
	.section-title {
		margin-bottom: 0px;
	}
	.skills {
		margin-top: 50px;
	}
	.skill {
		width: 200px;
	}
	.mail {
		padding: 50px 0;
	}
	.form {
		margin-top: 20px;
	}
	.footer {
		padding: 50px 0;
	}
}
/* 576px - 768px */
@media screen and (max-width: 768px) {
	.container {
		width: 540px;
	}
	.title {
		width: 100%;
	}
	.skills {
		flex-direction: column;
		margin-top: 30px;
	}
	.skill {
		width: 100%;
		margin-bottom: 20px;
	}
	.skill:last-child {
		margin-bottom: 0;
	}
	.skill h3 {
		padding-top: 70px;
	}
	.skill-text {
	}
}
/* 320px - 576px */
@media screen and (max-width: 576px) {
	.header {
		padding: 20px 0 0;
	}
	.container {
		width: 100%;
	}
	.title {
		font-size: 17px;
	}
	.title span {
		font-size: 36px;
	}
	.offer {
		margin-top: 10px;
	}
	.intro {
		width: 80%;
		font-size: 12px;
		margin: 15px 0;
	}
	.travel {
		width: 100%;
	}
	.future {
		padding: 20px 0;
	}
	.section-title {
		font-size: 24px;
	}
	.skills {
		width: 95%;
		display: flex;
		padding-left: 5px;
	}
	.skill {
		background-size: 50px;
		background-position: top left;
		text-align: left;
	}
	.skill h3 {
		padding: 0;
	}
	.skill-title {
		margin-left: 60px;
	}
	.skill-text {
		margin-left: 60px;
	}
	.mail {
		padding: 20px 0;
	}
	.mail .section-title {
		font-size: 18px;
	}
	.input__form {
		width: 90%;
	}
	.btn-form {
		width: 90%;
	}
	.footer {
		padding: 20px 0;
	}
	.credits {
		font-size: 12px;
	}
}